.s1
{
    position: absolute;
    width: 222px;
    height: 63px;
    left: 25px;
    top: 313.63px;



    font-family: Gilroy;
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 29px;
/* or 112% */


color: #030303;
}
