

<ion-content>


<img src="/assets/map.svg" alt="">



<div style="text-align: center; margin-top: 5%;">
  <b style="font-size: large;">Select your Location</b>
  
<p style="font-size: small; text-align: center; width: 75%; margin-left: 12.5%;">Swithch on your location to saty in tune with 
  what's happening in your area</p>

</div>

<div>
  <p style="font-size: small; margin-left: 5%; margin-top: 17%;"> your zone</p>
</div>




<ion-item>
  <ion-label>Pizza</ion-label>
  <ion-select value="peperoni" multiple="true" placeholder="Select Pizza">
    <ion-select-option value="peperoni">Peperoni</ion-select-option>
    <ion-select-option value="hawaii">Hawaii</ion-select-option>
  </ion-select>
</ion-item>




<div>
  <p style="font-size: small; margin-left: 5%; margin-top: 5%;"> your area</p>
</div>
<ion-item style="margin-top: 2%;">
  <ion-label>oddanchatram</ion-label>
  <ion-select value="peperoni" multiple="true" placeholder="Select Pizza">
    <ion-select-option value="peperoni">gandhi nagar</ion-select-option>
    <ion-select-option value="hawaii">cmhss</ion-select-option>
  </ion-select>
</ion-item>

<ion-button style="width: 80%; margin-left: 10%;height: 7%; margin-top: 4%;" expand="block" fill="solid" shape="round" color="success">
  submit
</ion-button>




<select name="sathiesh" id="12345">
  <option value="adnvsovno">rah1</option>
  <option value="adnvsovno">rah2</option>
</select>
</ion-content>
