<ion-content>
  <img src="/assets/img1.svg" alt="">
  <p class="ion-padding"> Get your grocerices with nectar</p>
  <ion-item>
    <ion-icon src="/assets/img2.svg"></ion-icon>
  <ion-label floating>  +91 </ion-label>
  <ion-input type="text" placeholder="Awesome Input"></ion-input>
  </ion-item>
<div style="text-align: center; margin-top: 10%; font-style: normal;">
  or connect with a social media
</div>


<ion-button style="background: #5383EC ;
border-radius: 19px;width: 80%;margin-left: 10%; margin-top: 10%;"  expand="block" shape="round" fill="solid">
 <ion-icon  name="logo-google"></ion-icon>&nbsp; &nbsp; &nbsp; 
 Continue with google
</ion-button>

<ion-button style="background:#4A66AC;
border-radius: 19px;width: 80%;margin-left: 10%; margin-top: 5%;"  expand="block" shape="round" fill="solid" color="#4A66AC;">
 <ion-icon name="logo-facebook"></ion-icon>&nbsp;
 continue with facebook
</ion-button>
</ion-content>