<b style="text-align: center; margin-top: 5%;">Find Products</b>

<ion-content>
  <ion-menu-button style="float: left;margin-left:-2%;">
    <ion-icon name="menu"></ion-icon>
  </ion-menu-button>


<div style="margin-top: 5%; width: 90%; margin-left: 5%;">
  
<ion-searchbar placeholder="search store" inputmode="decimal" type="decimal" (ionChange)="onSearchChange($event)" [debounce]="250" showCancelButton="always" ></ion-searchbar>
</div>



<ion-row>
  
  <ion-col size="6">
    <ion-card style="background: rgba(83, 177, 117, 0.1);">
      <img src="/assets/ex1.svg" alt=""> 
<div style="text-align: center;">
  <ion-label><b>Fresh Furits & Vegetables </b></ion-label>
  
</div>
    </ion-card>

  </ion-col>
  {{data}}
  <ion-col size="6">
    <ion-card style="background: rgba(248, 164, 76, 0.1);">
      <img src="/assets/ex2.svg" alt="">  
      <div style="text-align: center;">
        <ion-label><b>Cookingoil & Ghee</b></ion-label>
        
      </div>
      
    
    </ion-card>

    

  </ion-col>
</ion-row>

<ion-row>
  
  <ion-col size="6">
    <ion-card style="background: rgba(247, 165, 147, 0.25);">
      <img src="/assets/ex3.svg" alt=""> 
<div style="text-align: center;">
  <ion-label><b>Meat & Fish</b></ion-label>
  
</div>
    </ion-card>

  </ion-col>
  
  <ion-col size="6">
    <ion-card style="background: rgba(211, 176, 224, 0.25);">
      <img src="/assets/ex4.svg" alt="">  
      <div style="text-align: center;">
        <ion-label><b>Bakery & Snacks</b></ion-label>
        
      </div>
      
    
    </ion-card>

    

  </ion-col>
</ion-row>



<ion-row>
  <ion-col size="6">
  <ion-card style="background: rgba(253, 229, 152, 0.25);">
    <img src="/assets/ex5.svg" alt="">
    <div style="text-align: center;">
      <b>dairy &Eggs</b>
    </div>
  </ion-card>
</ion-col>

<ion-col size="6">
  <ion-card style="background: rgba(183, 223, 245, 0.25);">
    <img src="/assets/ex6.svg" alt="">

<div style="text-align: center;">
<b>Beverages</b>
</div>  
</ion-card>
  
</ion-col>


</ion-row>






</ion-content>
