

<ion-content>
<div>
<img style="margin-left: 45%; margin-top: 10%;" src="/assets/logo.svg" alt="">
</div>

<ion-icon style="margin-left: 35%; margin-top: 10%; size: 20%;" name="location-outline">asa</ion-icon>
<p style="font-size: small; margin-top: -5%; margin-left: 40%;" >dindigul,oddamchatram</p>

<ion-searchbar  showCancelButton="focus" ></ion-searchbar>

<ion-row>
    <ion-col size="12">  </ion-col>

    <img src="/assets/hs1.svg" alt="">
        <img style="margin-left: 30%; " src="/assets/hs2.svg" alt=""> 
        <img style="margin-left: 80%; margin-top: 5%;" src="/assets/hs3.svg" alt="">
        <ion-label style="font-family: sans-serif; margin-left: 40%; margin-top: -25%;">Fresh vegetables </ion-label>
</ion-row>


<b style="margin-left: 5%;">Exclusive Offer</b> <p style="margin-left: 80%; margin-top: -5%;">see all</p>


<ion-row>
    <ion-col size="6"></ion-col>
    <ion-card>
        <img style="margin-left: 15%; margin-top: 5%;" src ="/assets/hs4.svg" alt="">
    <ion-card-header>
       
        <ion-card-subtitle>Organic Banana</ion-card-subtitle>
        <ion-card-title>Awesome Title</ion-card-title>
    </ion-card-header>    
    </ion-card>
</ion-row>




<ion-col size="6"></ion-col>
<ion-card>
    <img  src ="/assets/hs5.svg" alt="">
<ion-card-header>
   
    <ion-card-subtitle>Organic Banana</ion-card-subtitle>
    <ion-card-title>Awesome Title</ion-card-title>
</ion-card-header>    
</ion-card>





</ion-content>
