.s1
{
    position: absolute;
    width: 80%;
    margin-left: 10%;
    margin-top: 568px;
    height: 8%;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #53B175;
border-radius: 19px
}
.s2{


    font-family: Gilroy;
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 29px;
/* or 60% */

text-align: center;

color: #FFFFFF;
}